<p>Hello!</p>
<p>At <strong>TAIKAI</strong>, we are committed to continuously improving our services and events, and your feedback is vital in helping us achieve this goal.</p>
<p>Only feedback can move us forward, and your input is super important to us. We'd like to thank you for replying to our feedback form regarding your experience with the platform.</p>
<p>Your responses only be used to improve the hackathon experience for you and all future participants. To share your feedback, please click on the following link to access the survey:</p>
<a href="{{surveyLink}}" class='cta-button'>Give feedback</a>
<p>If you have any trouble, copy this URL and paste it into your browser:</p>
<p><a href="{{surveyLink}}">{{surveyLink}}</a></p>
{{{supportMsg}}}
