<h1>Your account was deleted as requested by you</h1>
<p>It's time to say goodbye, {{username}}!</p>
<p>You was a pleasure to have you in TAIKAI platform, but as you requested, your account and private data has been deleted in our systems. To join the network and be part of this family again you will have to sign up and create a new account. Don't worry, you are more than welcome!</p>
{{{supportMsg}}}
<p>Bye bye, and see you soon!</p>
<p><strong>TAIKAI team</strong></p>
