<h1>New friend referral confirmed</h1>
<p>Congratulations, your friend {{to}} confirmed your referral.</p>
<p>Since you finished another referral you will receive <strong>{{amount}} TKAIs</strong> for helping us to reach more people. You can use the TKAI token on our economy or save it for later.</p>
<p>Thanks for being awesome!</p>
{{{supportMsg}}}