<h1>You sent TKAIs!</h1>
<p>Hello <strong>{{from}}!</strong></p>
<p>Global transfer of <strong>{{amount}} TKAIs</strong> to <strong>{{to}}</strong> confirmed with success.</p>
<p>Please use them wisely!</p>
{{{supportMsg}}}