<h1>You got TKAIs!</h1>
<p>Hello <strong>{{to}}!</strong></p>
<p>Global transfer of <strong>{{amount}} TKAIs</strong> from <strong>{{from}}</strong> received with success.</p>
<p>Please use them wisely!</p>
{{{supportMsg}}}
