<h1>Você recebeu VKAIs!</h1>
<p>Olá <strong>{{to}}!</strong></p>
<p>Você recebeu <strong>{{amount}} VKAIs</strong> para apoiar projetos no desafio <strong>{{challengeName}}</strong>. Use-os com sabedoria!</p>
{{{supportMsg}}}
