<p>Olá!</p>
<p>Na <strong>TAIKAI</strong>, estamos comprometidos em melhorar continuamente os nossos serviços e eventos, e o seu feedback é vital para nos ajudar a atingir esse objetivo.</p>
<p>Somente o feedback pode nos levar adiante, e as suas contribuições são muito importantes para nós. Agradecemos se responder ao nosso formulário de feedback sobre sua experiência com a plataforma.</p>
<p>Suas respostas serão usadas apenas para melhorar a experiência do hackathon para você e para todos os futuros participantes. Para compartilhar o seu feedback, clique no link abaixo:</p>
<a href="{{surveyLink}}" class='cta-button'>Dar feedback</a>
<p>Se você tiver algum problema, copie este URL e cole-o em seu navegador:</p>
<p><a href="{{surveyLink}}">{{surveyLink}}</a></p>
 {{{supportMsg}}}
