<h1>Sua conta foi excluída conforme solicitado por você</h1>
<p>É hora de dizer adeus, {{username}}!</p>
<p>Foi um prazer tê-lo na plataforma TAIKAI, mas conforme solicitado, sua conta e dados particulares foram apagados em nossos sistemas. Para entrar na rede e fazer parte desta família novamente, você terá que se inscrever e criar uma nova conta. Não se preocupe, você é mais do que bem-vindo!</p>
{{{supportMsg}}}
<p>Tchau e até logo!</p>
<p><strong>TAIKAI team</strong></p>

