<h1>Indicação de novo amigo confirmada</h1>
<p>Parabéns, seu amigo {{to}} confirmou sua indicação.</p>
<p>Como você concluiu outra indicação você receberá <strong>{{amount}} TKAIs</strong>  por nos ajudar a alcançar mais pessoas. Você pode usar a moeda TKAI em nossa economia ou guardá-la para o futuro.</p>
<p>Obrigado por ser incrível!</p>
{{{supportMsg}}}