<h1>Temos um comunicado importante para você</h1>
{{message}}
<a href="https://taikai.network" class='cta-button'>IR PARA TAIKAI</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="https://taikai.network">https://taikai.network</a>
{{{supportMsg}}}