<h1>Bem-vindo ao {{challengeName}}</h1>
<p>Olá {{username}}!</p>
<p>Você está pronto para ser mentor de projetos com as suas habilidades ninja no {{challengeName}}?</p>
<p>Os mentores têm um papel muito importante no TAIKAI! Você terá a oportunidade de fazer a diferença, ajudando os nossos inovadores a criar projetos surpreendentes. </p>
<p>Atualize sua <strong>biografia</strong> e <strong>habilidades</strong> na TAIKAI. Isso ajudará os inovadores a encontrar você e o perfil que eles procuram.</p>
<p>Por esse motivo, é importante que você concorde e cumpra as regras do desafio que você pode consultar a qualquer momento <a href="{{rulesLink}}">aqui</a>.</p>