<h1>Oh não! Sua transferência de TKAIs falhou!</h1>
<p>Olá <strong>{{username}}!</strong></p>
<p>Transferência global de <strong>{{amount}} TKAIs</strong> para <strong>{{to}}</strong> falhou.</p>
<p>Por favor, tente novamente!</p>
{{{supportMsg}}}
