<h1>Você enviou TKAIs!</h1>
<p>Olá <strong>{{from}}!</strong></p>
<p>Transferência global de <strong>{{amount}} TKAIs</strong> para <strong>{{to}}</strong> confirmada com sucesso.</p>
<p>Use-os com sabedoria!</p>
{{{supportMsg}}}