<h1>Sua conta excedeu o número máximo de tentativas 2FA</h1>
<p>Após várias tentativas falhadas em verificar o código 2FA, sua conta foi temporariamente (<strong>{{tmpLockoutMin}} min</strong>) bloqueada por motivos de segurança.</p>
{{{supportMsg}}}