<h1>¡Obtuviste VKAIs!</h1>
<p>¡Hola <strong>{{to}}!</strong></p>
<p>Has recibido <strong>{{amount}} VKAIs</strong> para respaldar proyectos en el desafío <strong>{{challengeName}}</strong>. ¡Úsalos sabiamente!</p>
{{{supportMsg}}}
