<h1>You got VKAIs!</h1>
<p>Hello <strong>{{to}}!</strong></p>
<p>You have received <strong>{{amount}} VKAIs</strong> to back projects on <strong>{{challengeName}}</strong> challenge. Please use them wisely!</p>
{{{supportMsg}}}
