<h1>{{challengeName}} - Your Application was rejected</h1>
<p>Hello, {{name}}! 👋</p>
<p>The task of choosing a candidate at this stage became challenging and unfortunately, you were not one of the selected for the next phase. We hope this experience was positive for you, and we are available to help in any way you might need.</p>
<p>We wish you luck in your future endeavors! All the best. </p>
<p><strong>Do you need help?</strong></p>
{{{supportMsg}}}