<h1>{{challengeName}} - Tu solicitud fue rechazada</h1>
<p>¡Hola, {{name}}! 👋</p>
<p>La tarea de elegir un candidato en esta etapa se volvió desafiante y lamentablemente, no fuiste seleccionado para la siguiente fase. Esperamos que esta experiencia haya sido positiva para ti, y estamos disponibles para ayudarte en cualquier cosa que puedas necesitar.</p>
<p>¡Te deseamos suerte en tus futuros empeños! ¡Todo lo mejor! </p>
<p><strong>¿Necesitas ayuda?</strong></p>
{{{supportMsg}}}