<p>¡Hola!</p>
<p>En <strong>TAIKAI</strong>, estamos comprometidos con la mejora continua de nuestros servicios y eventos, y tu opinión es fundamental para ayudarnos a alcanzar este objetivo.</p>
<p>Solo el feedback puede llevarnos hacia adelante, y tu opinión es sumamente importante para nosotros. Nos gustaría agradecerte por responder a nuestro formulario de opinión en relación a tu experiencia con la plataforma.</p>
<p>Tus respuestas solo se utilizarán para mejorar la experiencia del hackatón tanto para ti como para todos los futuros participantes. Para compartir tus comentarios, por favor haz clic en el siguiente enlace para acceder a la encuesta:</p>
<a href="{{surveyLink}}" class='cta-button'>Dar feedback</a>
<p>Si tienes algún problema, copia esta URL y pécala en tu navegador:</p>
<p><a href="{{surveyLink}}">{{surveyLink}}</a></p>
{{{supportMsg}}}
