<h1>Tu cuenta ha sido eliminada, tal como lo solicitaste</h1>
<p>¡Es hora de decir adiós, {{username}}!</p>
<p>Fue un placer tenerte en la plataforma TAIKAI, pero como lo solicitaste, tu cuenta y datos privados han sido eliminados de nuestros sistemas. Para unirte a la red y ser parte de esta familia nuevamente, deberás registrarte y crear una nueva cuenta. ¡No te preocupes, eres más que bienvenido!</p>
{{{supportMsg}}}
<p>¡Adiós y hasta pronto!</p>
<p><strong>El equipo de TAIKAI</strong></p>
