<h1>Nueva referencia de amigo confirmada</h1>
<p>Felicitaciones, tu amigo {{to}} confirmó tu referencia.</p>
<p>Dado que completaste otra referencia, recibirás <strong>{{amount}} TKAIs</strong> por ayudarnos a llegar a más personas. Puedes usar el token TKAI en nuestra economía o guardarlo para más adelante.</p>
<p>¡Gracias por ser increíble!</p>
{{{supportMsg}}}