<h1>We have an important announcement for you!</h1>
{{message}}<br/>
<a href="https://taikai.network" class='cta-button'>GO TO TAIKAI</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="https://taikai.network">https://taikai.network</a>
{{{supportMsg}}}