<h1>¡Tenemos un anuncio importante para ti!</h1>
{{message}}<br/>
<a href="https://taikai.network" class='cta-button'>IR A TAIKAI</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="https://taikai.network">https://taikai.network</a>
{{{supportMsg}}}