<h1>Bienvenido a {{challengeName}}</h1>
<p>¡Hola {{username}}!</p>
<p>¿Estás listo para orientar proyectos de {{challengeName}} con tus habilidades de ninja?</p>
<p>¡Los mentores tienen un papel muy importante en TAIKAI! Tendrás la posibilidad de marcar la diferencia ayudando a nuestros participantes a crear soluciones asombrosas para este desafío.</p>
<p>Actualiza tu biografía y habilidades en TAIKAI. Esto ayudará a los participantes a encontrarte y coincidir con las habilidades que están buscando.</p>
<p>Por esa razón, es importante que estés de acuerdo y cumplas con las reglas del desafío, que puedes consultar en cualquier momento <a href="{{rulesLink}}">aquí.</a>.</p>
