<h1>¡Has enviado TKAIs!</h1>
<p>¡Hola <strong>{{from}}!</strong></p>
<p>La transferencia global de <strong>{{amount}} TKAIs</strong> a <strong>{{to}}</strong> se ha confirmado con éxito.</p>
<p>¡Úsalos sabiamente!</p>
{{{supportMsg}}}