<h1>¡Recibiste TKAIs!</h1>
<p>¡Hola <strong>{{to}}!</strong></p>
<p>Transferencia global de <strong>{{amount}} TKAIs</strong> de <strong>{{from}}</strong> recibida con éxito.</p>
<p>¡Úsalos sabiamente!</p>
{{{supportMsg}}}
