<h1>Your account has exceeded the maximum number of 2FA attempts</h1>
<p>After several failed attempts to verify the 2FA code, your account has been temporarily (<strong>{{tmpLockoutMin}} min</strong>) locked out for safety reasons.</p>
{{{supportMsg}}}