<h1>Tu cuenta ha excedido el número máximo de intentos de 2FA</h1>
<p>Después de varios intentos fallidos para verificar el código 2FA, tu cuenta ha sido bloqueada temporalmente (<strong>{{tmpLockoutMin}} minutos</strong>) por razones de seguridad.</p>
{{{supportMsg}}}